body {
  background: burlywood;
  color: navy;
}

#firstParagraph{ 
    color: maroon;
    font-size: 22px;
    font-weight: bold;
}

.headers {
    font-family: 'Franklin Gothic Medium';
    text-align: center;
}